.navbar{
  background-color:#2F232E;
  
  color: white;
  font-family: "Poppins";
}

.navadd{
  font-family: 'Courier New', Courier, monospace;
}
.navimg{
  margin-right: 10px;
  
}

.navbutton{
  /* position: relative;
  left: 900px;
  bottom: 20px; */
  float: right;
}


.notBought{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}
.notBoughtimg{
  width:250px;
  height:250px;
}
.notBoughttext{
  font-family: "Poppins";
  color: #fffbfe;
  position: relative;
  right: 30px;
}


.nftcontent{
  color: white;
  display: flex;
  flex-direction: row;
  flex-shrink: auto;
  padding-top: 10px;
  margin: 0;
  -webkit-text-stroke-width: thin;
  
  
}
.nftimg{
  width:26rem;
  height: 250px;
  background-color: #29232C;
  
}

.nftCard{
  background-color: #5c3c54;
  color: white;
  width:26rem;
  
}
.nftCardItem{
  background-color:#3a2d37
}


.claimNFT{
  background-color:#332b31 ;
  /* position: relative;
  top:120px; */
  margin-top: 35px;
  padding-bottom: 30px;
}


.claimbtn{
  position: relative;
  left: 45%;
  color: rgb(238, 244, 248);
  font-family: "Poppins";
}

body{
  background-color:#29232C;
}