.navbar{
  background-color:#2F232E;
  
  color: white;
  font-family: "Poppins";
}

.navadd{
  font-family: 'Courier New', Courier, monospace;
}
.navimg{
  margin-right: 10px;
  
}

.navbutton{
  /* position: relative;
  left: 900px;
  bottom: 20px; */
  float: right;
}

.bodyouterdiv{
  display: flex;
  flex-direction: column;
}

.nftcontent{
  color: white;
  display: flex;
  flex-direction: row;
  flex-shrink: auto;
  
  
}

.nftCard{
  background-color: #5c3c54;
  color: white;
  width:26rem;
  
}
.nftCardItem{
  background-color:#3a2d37
}


.claimNFT{
  background-color:#332b31 ;
  position: relative;
  top:120px;
  padding: 10px;
}


.claimbtn{
  position: relative;
  left: 45%;
  color: rgb(238, 244, 248);
  font-family: "Poppins";
}

body{
  background-color:#29232C;
}