.navbar{
  background-color:#0397FE;
  
  color: white;
  font-family: "Poppins";
}

.navadd{
  font-family: 'Courier New', Courier, monospace;
}
.navimg{
  margin-right: 10px;
  
}

.navbutton{
  /* position: relative;
  left: 900px;
  bottom: 20px; */
  float: right;
}

.navShop{
  color:"white";
  font-family: "Dancing Script";
}

.notBought{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}
.notBoughtimg{
  width:250px;
  height:250px;
}
.notBoughttext{
  font-family: "Poppins";
  color: #fffbfe;
  position: relative;
  right: 30px;
}

.bodyouterdiv{
  
}

.nftcontent{
  color: white;
  display: flex;
  flex-direction: row;
  flex-shrink: auto;
  padding-top: 10px;
  
  margin: 0;
  -webkit-text-stroke-width: thin;
  
  
}
.nftimg{
  width:26rem;
  height: 250px;
  background-color: #29232C;
  
}

.nftCard{
  background-color: #0397FE;
  color: white;
  width:26rem;
  border:none;
  
}
.nftCardItem{
  background-color:"white";
  color:#74747D;
}



.productimg{
  position: inherit;
  z-index: -1;
}

.claimNFT{
  background-color:#0397FE ;
  /* position: relative;
  top:120px; */
  margin-top: 35px;
  padding-bottom: 30px;
  /* color:#74747D ; */
}

.forminput{
  color:#74747D;
  background-color: #f8f8fc;
}


.claimbtn{
  position: relative;
  left: 45%;
  color: rgb(238, 244, 248);
  font-family: "Poppins";
}

.refreshbtn{
  position: relative;
  left:45% ;
  color: rgb(238, 244, 248);
  font-family: "Poppins";

}



body{
  background-color:"white";
}




.ShopCardContainer{
  /* display: flex;
  gap:20px;
  padding: 40px;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 40px 0px;
  padding: 40px;
  margin-top: 50px;
  width: 100%;
}